@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap");

html {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 430px;
}

.heading {
  display: flex;

  justify-content: center;
  font-weight: bold;
  font-size: 4em;
  /* letter-spacing: px; */
  font-family: "Passion One", cursive;
}

.flex-container-input {
  margin: 25px;
}

.flex-container-todos {
  display: flex;

  margin: 15px;
  padding: 10px;
  width: 330px;
  border-radius: 32px;
  background: #f7f7f8;

  box-shadow: 0px 20px 15px 3px rgba(0, 0, 0, 0.1);
}

.flex-container-todos:focus-within {
  box-shadow: -3px -3px 8px 2px lightblue, 3px 3px 8px 2px lightblue;
}

.flex-container-clear {
  border: 1px solid black;
  padding: 5px;
  border-radius: 30px;
}

.todoInput {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 25px;
  max-width: 300px;
  font-weight: bold;
  outline: none;
}

.removeTodoImg-mobile {
  display: none;
}
.removeTodoImg-desktop {
  height: 30px;
  width: 30px;
  margin-left: auto;
}

.done-mobile,
.cancel-mobile {
  display: none;
}

.done-desktop,
.cancel-desktop {
  height: 30px;
  width: 30px;

  margin-left: auto;
}

@media screen and (max-width: 500px) {
  .removeTodoImg-desktop {
    display: none;
  }
  .removeTodoImg-mobile {
    display: block;
    height: 30px;
    width: 30px;
    margin-left: auto;
  }

  .done-desktop,
  .cancel-desktop {
    display: none;
  }

  .done-mobile,
  .cancel-mobile {
    display: block;
    height: 30px;
    width: 30px;
    margin-left: auto;
  }
}

.singletodoInput {
  border: none;
  width: 230px;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}

.clearAllImg {
  height: 30px;
  width: 30px;
}
